body {
	width:210mm;
	background-color:antiquewhite;
	margin: auto;
}

p {
	background-color: azure;
	padding: 0.3em;
	border:1px red solid;
}

svg {
	background-color: rgb(218, 218, 218);
}

#math1 {
	background-color: cyan;
}

rect.diag_rect {
	fill: white;
	stroke: black;
}

line {
	fill:none;
	stroke: black;
}

